$color-nav: rgb(168, 104, 224);
$color-font-nav: rgb(237, 238, 202);
$font-primary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
$color-banner: rgb(211, 198, 211);
$color-banner2: rgb(226, 152, 236);
$font-color-banner: rgb(44, 22, 48);
$font-color-banner2: rgb(141, 86, 163);
$font-color-cards:rgb(144, 196, 84);
$color-h3: black;
$font-secondary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$color-conteiner: rgb(204, 231, 197);
$color-conteiner2:rgb(139, 190, 110);
$color-button: rgb(184, 182, 182);
$color-sombra: rgb(46, 62, 63)

