$color-nav: rgb(111, 15, 201);
$color-font-nav: rgb(235, 235, 87);
$font-primary: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
$color-banner: rgb(201,181,201);
$color-banner2: rgb(157, 74, 168);
$font-color-banner: rgb(37, 12, 41);
$font-color-banner2: rgb(33, 26, 48);
$font-color-cards:rgb(60, 211, 186);
$color-h3: black;
$font-secondary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$color-conteiner: rgb(154, 240, 221);
$color-button: rgb(184, 182, 182);
$color-sombra: rgb(66, 70, 69)

